*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width:100%;
    height: 100%;
    background-color: #14A7FF;
}
body{
    font-family: 100%;
    font-family: monospace,monospace;
}
main{
    width:100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.player{
    margin: 1em 0 5px 0;
    display: flex;
    flex-direction: column;
}
.player__tile {
    width: 100%;
   height: 300px;
   display:flex;
   margin: 0 auto;
   color: #000;
   max-width: 400px;
   border-radius: 8px;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   box-shadow: inset 3px 3px 0 #000,
               inset -3px 3px 0 #000,
               inset -3px -3px 0 #000,
               inset 3px -3px 0 #000,
}
.player-2 {
    color: #fff;
    margin-top: 5px;
    background-color: #2D2C2C;
}
.player__digits {
    font-size: 6rem;
    font-weight: bold;
}
.timer__buttons {
    margin-bottom: 1rem;
}
.timer__start-bttn,
.timer__reset-bttn {
    width: 100%;
    display: block;
    color: #020202;
    min-height: 50px;
    min-width: 200px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    letter-spacing: 2px;
    margin: 0 auto 5px auto;
    border: 4px solid #000;
}
.timer__start-bttn {
    color: #fff;
    background-color: #0071D5;
}
.timer__start-bttn:hover {
    color: #000;
    background-color: #fff;
}
.timer__reset-bttn:hover {
    color: #fff;
    background-color: #0071D5;
}
footer p {
 text-align: center;
}
/* Media queries for mobile first develoment. */
/* Media queries for landscape mode on mobile devices */
@media only screen and (orientation:landscape) and (max-width:850px) {
    .player{
        max-width: 610px;
        flex-direction: row;
        margin: 5px auto 0 auto
    }
    .player__tile{
        max-width: 300px;
        max-height:250px;
        margin: 0 3px 5px 3px ;
    }
    .player__digits{
        font-size: 5rem;
    }
    .timer__buttons{
        display: flex;
        margin: 0 auto;
        max-width: 610px;
    }
    .timer__start-bttn,
    .timer__reset-bttn{
        display: block;
        max-width: 300px;
        margin: 0 3px 5px 3px;
    }
}
/* Media queries for portrait mode */
@media only screen and (orientation:portrait) and (min-width:400px) {
    .player__tile{
        height: 400px;
    }
    .player__digits{
        font-size: 6rem;
    }
} 
/* Screen wider than 850px wide will use these settings. */
@media only screen and (min-width:850px){
    .player{
        margin: 1em auto 10px auto;
        max-width: 810px;
        flex-direction: row;
    }
    .player__tile{
        height: 400px;
    }
    .player-2{
        margin-top: 0;
    }
    .player__digits{
        font-size: 7rem;
    }
    .timer__buttons{
        display: flex;
        margin:0 auto;
        max-width: 810px;
    }
    .timer__start-bttn,
    .timer__reset-bttn{
        padding: 0.7em;
        font-size: 1.8rem;
    }

}

/* 


    .timer__buttons {
        display: flex;
        margin: 0 auto;
        max-width: 810px;
    }
    .timer__start-bttn, 
    .timer__reset-bttn {
        padding: .7em;
        font-size: 1.8rem;
    } */
/* }  */
 